{{#data-table
  content=content
  isLoading=isLoadingModel
  noDataMessage=""
  sort=sort
  page=page
  size=size
  class="container-flex--contain data-table data-table--tight data-table--nowrap"

  as |t|}}
  {{#t.content as |c|}}

    {{#c.header}}
      {{th-sortable label="Functie" field="bekleedt.rol.label" currentSorting=sort}}
      {{th-sortable label="Voornaam" field="is-bestuurlijke-alias-van.gebruikte-voornaam" currentSorting=sort}}
      {{th-sortable label="Familienaam" field="is-bestuurlijke-alias-van.achternaam" currentSorting=sort}}
      {{th-sortable label="Status" field="status.label" currentSorting=sort}}
      <th>Contactgegevens</th>
      {{th-sortable label="Adres" field="bekleedt.contactinfo.adres" currentSorting=sort}}
    {{/c.header}}

    {{#if (eq content.length 0)}}
      <tbody>
        <tr>
          <td class="u-align-center u-padding--round--small" colspan="6">
            <p class="u-spacer--tiny">Geen functionaris gevonden.</p>
          </td>
        </tr>
      </tbody>
    {{else}}
      {{#c.body as |row|}}
        <td>
          {{#with-rdfa-context tagName="div" model=row as |functionaris|}}
            {{#functionaris.get prop="bekleedt" as |attrs value bestuursfunctie|}}
              <div {{rdfa attrs}}>
              {{#bestuursfunctie.each prop="bevatIn" as |attrs value bestuursorgaanInTijd|}}
                <div {{rdfa attrs}}>
                {{#bestuursorgaanInTijd.get prop="isTijdsspecialisatieVan" as |attrs value bestuursorgaan|}}
                  <div {{rdfa attrs}}>
                  {{#bestuursorgaan.get prop="bestuurseenheid" as |attrs value bestuurseenheid|}}
                    <div {{rdfa attrs}}>
                    {{#bestuurseenheid.get prop="naam" as |attrs value|}}
                      <div {{rdfa attrs}} class="u-hidden">{{value}}</div>
                    {{/bestuurseenheid.get}}
                    </div>
                  {{/bestuursorgaan.get}}
                  </div>
                {{/bestuursorgaanInTijd.get}}
                </div>
              {{/bestuursfunctie.each}}
              </div>
            {{/functionaris.get}}
          {{/with-rdfa-context}}

          {{#with-rdfa-context tagName="div" model=row as |functionaris|}}
            {{#functionaris.get prop="bekleedt" as |attrs value bekleedt|}}
              <div {{rdfa attrs}}>
              {{#bekleedt.get prop="rol" as |attrs value rol|}}
                <div {{rdfa attrs}}>
                {{#rol.get prop="label" as |attrs value|}}
                  <span {{rdfa attrs}}>{{value}}</span>
                {{/rol.get}}
                </div>
              {{/bekleedt.get}}
              </div>
            {{/functionaris.get}}
          {{/with-rdfa-context}}

        </td>

        {{#with-rdfa-context tagName="td" model=row as |functionaris|}}
          {{#functionaris.get prop="isBestuurlijkeAliasVan" as |attrs value persoon|}}
            <div {{rdfa attrs}}>
            {{#persoon.get prop="gebruikteVoornaam" as |attrs value|}}
              <span {{rdfa attrs}}>{{value}}</span>
            {{/persoon.get}}
            </div>
          {{/functionaris.get}}
        {{/with-rdfa-context}}

        {{#with-rdfa-context tagName="td" model=row as |functionaris|}}
          {{#functionaris.get prop="isBestuurlijkeAliasVan" as |attrs value persoon|}}
            <div {{rdfa attrs}}>
            {{#persoon.get prop="achternaam" as |attrs value|}}
              <span {{rdfa attrs}}>{{value}}</span>
            {{/persoon.get}}
            </div>
          {{/functionaris.get}}
        {{/with-rdfa-context}}

        {{#with-rdfa-context tagName="td" model=row as |functionaris|}}
          {{#functionaris.get prop="status" as |attrs value status|}}
            <div {{rdfa attrs}}>
            {{#status.get prop="label" as |attrs value|}}
              <span {{rdfa attrs}}>{{value}}</span>
            {{/status.get}}
            </div>
          {{/functionaris.get}}
        {{/with-rdfa-context}}

        {{#with-rdfa-context
          tagName="td"
          class="u-hidden-mobile word-break--break-word"
          model=row as |functionaris|}}
          {{#functionaris.get prop="bekleedt" as |attrs value bekleedt|}}
            <div {{rdfa attrs}}>
            {{#bekleedt.get prop="contactinfo" as |attrs value contactinfo|}}
              <div {{rdfa attrs}}>
              {{#contactinfo.get prop="email" as |attrs email|}}
                email:
                {{#if email}}
                  <span {{rdfa attrs}}>{{email}}</span>
                {{else}}
                  <span class="text-fade">Onbepaald</span>
                {{/if}}
              {{/contactinfo.get}}
              </div>
              <div {{rdfa attrs}}>
              {{#contactinfo.get prop="website" as |attrs website|}}
                website:
                {{#if website}}
                  <span {{rdfa attrs}}>{{website}}</span>
                {{else}}
                  <span class="text-fade">Onbepaald</span>
                {{/if}}
              {{/contactinfo.get}}
              </div>
              <div {{rdfa attrs}}>
              {{#contactinfo.get prop="telephone" as |attrs telephone|}}
                telephone:
                {{#if telephone}}
                  <span {{rdfa attrs}}>{{telephone}}</span>
                {{else}}
                  <span class="text-fade">Onbepaald</span>
                {{/if}}
              {{/contactinfo.get}}
              </div>
              <div {{rdfa attrs}}>
              {{#contactinfo.get prop="fax" as |attrs fax|}}
                fax:
                {{#if fax}}
                  <span {{rdfa attrs}}>{{fax}}</span>
                {{else}}
                  <span class="text-fade">Onbepaald</span>
                {{/if}}
              {{/contactinfo.get}}
              </div>
            {{/bekleedt.get}}
            </div>
          {{/functionaris.get}}
        {{/with-rdfa-context}}

        {{#with-rdfa-context
          tagName="td"
          class="u-hidden-mobile word-break--break-word"
          model=row as |functionaris|}}
          {{#functionaris.get prop="bekleedt" as |attrs value bekleedt|}}
            <div {{rdfa attrs}}>
            {{#bekleedt.get prop="contactinfo" as |attrs value contactinfo|}}
              <div {{rdfa attrs}}>
              {{#contactinfo.get prop="adres" as |attrs adres|}}
                {{#if adres}}
                  <span {{rdfa attrs}}>{{adres}}</span>
                {{else}}
                  <span class="text-fade">Onbepaald</span>
                {{/if}}
              {{/contactinfo.get}}
              </div>
            {{/bekleedt.get}}
            </div>
          {{/functionaris.get}}
        {{/with-rdfa-context}}
      {{/c.body}}
    {{/if}}

  {{/t.content}}
{{/data-table}}
