{{#data-table
  content=content
  isLoading=isLoadingModel
  noDataMessage=""
  sort=sort
  page=page
  size=size
  class="container-flex--contain data-table data-table--tight data-table--nowrap"

  as |t|}}
  {{#t.content as |c|}}

    {{#c.header}}
      {{th-sortable label="Functie" field="bekleedt.rol.label" currentSorting=sort}}
      {{th-sortable label="Voornaam" field="is-bestuurlijke-alias-van.gebruikte-voornaam" currentSorting=sort}}
      {{th-sortable label="Familienaam" field="is-bestuurlijke-alias-van.achternaam" currentSorting=sort}}
      {{th-sortable label="Status" field="status.label" currentSorting=sort}}
      <th>Contactgegevens</th>
      {{th-sortable label="Adres" field="bekleedt.contactinfo.adres" currentSorting=sort}}
    {{/c.header}}

    {{#if (eq content.length 0)}}
      {{yield}}
    {{else}}
      {{#c.body as |row|}}
        <td>
          <div
            typeof="{{row.bekleedt.bevatIn.firstObject.rdfaBindings.class}}"
            resource="{{row.bekleedt.bevatIn.firstObject.uri}}">
            <div
              property="{{row.bekleedt.bevatIn.firstObject.rdfaBindings.isTijdsspecialisatieVan}}"
              typeof="{{row.bekleedt.bevatIn.firstObject.isTijdsspecialisatieVan.rdfaBindings.class}}"
              resource="{{row.bekleedt.bevatIn.firstObject.isTijdsspecialisatieVan.uri}}">
              <div
                property="{{row.bekleedt.bevatIn.firstObject.isTijdsspecialisatieVan.rdfaBindings.bestuurseenheid}}"
                typeof="{{row.bekleedt.bevatIn.firstObject.isTijdsspecialisatieVan.bestuurseenheid.rdfaBindings.class}}"
                resource="{{row.bekleedt.bevatIn.firstObject.isTijdsspecialisatieVan.bestuurseenheid.uri}}">
                <div
                  property="{{row.bekleedt.bevatIn.firstObject.isTijdsspecialisatieVan.bestuurseenheid.rdfaBindings.naam}}"
                  content="{{row.bekleedt.bevatIn.firstObject.isTijdsspecialisatieVan.bestuurseenheid.naam}}">
                    {{!-- {{row.bekleedt.bevatIn.firstObject.isTijdsspecialisatieVan.bestuurseenheid.naam}} --}}
                </div>
              </div>
            </div>
          </div>
          {{#with-rdfa-context tagName="div" model=row as |functionaris|}}
            {{#functionaris.get prop="bekleedt" as |bekleedt| }}
              {{#bekleedt.get prop="rol" as |rol|}}
                {{#rol.get prop="label" as |label|}}
                {{label}}
                {{/rol.get}}
              {{/bekleedt.get}}
            {{/functionaris.get}}
        {{/with-rdfa-context}}
        </td>

        {{#with-rdfa-context tagName="td" model=row as |ctx1|}}
          {{#ctx1.get prop="isBestuurlijkeAliasVan" as |ctx2| }}
            {{#ctx2.get prop="gebruikteVoornaam" as |voornaam|}}
              {{voornaam}}
            {{/ctx2.get}}
          {{/ctx1.get}}
        {{/with-rdfa-context}}

        {{#with-rdfa-context tagName="td" model=row as |ctx1|}}
          {{#ctx1.get prop="isBestuurlijkeAliasVan" as |ctx2| }}
            {{#ctx2.get prop="achternaam" as |achternaam|}}
              {{achternaam}}
            {{/ctx2.get}}
          {{/ctx1.get}}
        {{/with-rdfa-context}}

        {{#with-rdfa-context tagName="td" model=row as |ctx1|}}
          {{#ctx1.get prop="status" as |ctx2| }}
            {{#ctx2.get prop="label" as |label|}}
              {{label}}
            {{/ctx2.get}}
          {{/ctx1.get}}
        {{/with-rdfa-context}}

        {{#with-rdfa-context
          tagName="td"
          class="u-hidden-mobile word-break--break-word"
          model=row as |functionaris|}}
          {{#functionaris.get prop="bekleedt" as |bekleedt| }}
            {{#bekleedt.get prop="contactinfo" as |contactinfo|}}
              {{#contactinfo.get prop="email" as |email|}}
                email: {{{if email email onbepaald}}}
              {{/contactinfo.get}}
              {{#contactinfo.get prop="website" as |website|}}
                website: {{{if website website onbepaald}}}
              {{/contactinfo.get}}
              {{#contactinfo.get prop="telephone" as |telephone|}}
                telephone: {{{if telephone telephone onbepaald}}}
              {{/contactinfo.get}}
              {{#contactinfo.get prop="fax" as |fax|}}
                fax: {{{if fax fax onbepaald}}}
              {{/contactinfo.get}}
            {{/bekleedt.get}}
          {{/functionaris.get}}
        {{/with-rdfa-context}}

        {{#with-rdfa-context
          tagName="td"
          class="u-hidden-mobile word-break--break-word"
          model=row as |functionaris|}}
          {{#functionaris.get prop="bekleedt" as |bekleedt| }}
            {{#bekleedt.get prop="contactinfo" as |contactinfo|}}
              {{#contactinfo.get prop="adres" as |adres|}}
                {{{if adres adres onbepaald}}}
              {{/contactinfo.get}}
            {{/bekleedt.get}}
          {{/functionaris.get}}
        {{/with-rdfa-context}}
      {{/c.body}}
    {{/if}}

  {{/t.content}}
{{/data-table}}