<div class={{this.args.class}}>
  <PowerSelect
    @searchEnabled={{true}}
    @placeholder="Berchem, Hasselt, Gent, ..."
    @search={{perform search}}
    @searchField="naam"
    @searchPlaceholder="Typ om te zoeken..."
    @options={{this.options}}
    @selected={{this.selected}}
    @onChange={{action "changeSelected"}}
    @noMatchesMessage="Geen resultaten"
    @searchPlaceholder="Typ om te zoeken"
    @allowClear={{true}}
    as |bestuurseenheid|
  >
    {{bestuurseenheid.naam}} ({{bestuurseenheid.classificatie.label}})
  </PowerSelect>
</div>
