<div class={{@class}}>
  <AuHelpText class="au-u-margin-bottom-small" id="describe-search">
    <strong>Zoek naar een gemeente, disctrict of provincie</strong> (Berchem, Hasselt, Gent, ...),
    <br>
    <strong>of besuurseenheid</strong> zoals een gemeentebestuur, autonoom gemeentebedrijf, OCMW-vereniging, intergemeentelijk samenwerkingsverband (IGS), provinciebestuur of autonoom provinciebedrijf (APB)
    </AuHelpText>
  <PowerSelect
    @ariaLabel="Zoekbalk"
    @ariaDescribedBy="describe-search"
    @searchEnabled={{true}}
    @search={{perform this.search}}
    @searchField="naam"
    @searchPlaceholder="Typ om te zoeken..."
    @options={{this.options}}
    @selected={{this.selected}}
    @onChange={{this.changeSelected}}
    @noMatchesMessage="Geen resultaten"
    @loadingMessage="Aan het laden..."
    @optionsComponent={{component
      "select/infinite-options"
      canLoadMore=this.searchData.canLoadMoreSearchResults
      loadMore=(perform this.loadMoreSearchResults)
      isLoadingMore=this.loadMoreSearchResults.isRunning
    }}
    @registerAPI={{this.registerAPI}}
    @allowClear={{true}}
    as |bestuurseenheid|
  >
    {{bestuurseenheid.naam}} ({{bestuurseenheid.classificatie.label}})
  </PowerSelect>
</div>
