{{head-layout}}
<div class="container">
  {{title "Leidinggevenden databank"}}
	{{wu-widget src=header class="vo-header-widget"}}
  {{#wu-content-header title="Leidinggevenden"}}
    
  {{/wu-content-header}}
	{{outlet}}
  {{wu-widget src=footer}}
</div>
