<div class="u-padding--rl--small u-background--gray-lighter">
  <div class="u-padding--top--tiny">
    <div class="grid">
      <div class="col--6-12">
        <a class="link--icon" href="/?bestuurseenheidId={{bestuurseenheid.id}}">
          <small><i  class="vi-arrow vi-u-180deg vi"></i>Terug naar zoeken</small>
        </a>
      </div>
    </div>
  </div>

  <div class="u-padding--tb" id="main">
    <h1 class="h2 text-light u-spacer--bottom--tiny">
      Leidinggevenden van
      <span
        typeof={{bestuurseenheid.rdfaBindings.class}}
        resource={{bestuurseenheid.uri}}>
        <span
          property={{bestuurseenheid.rdfaBindings.naam}}
          content={{bestuurseenheid.naam}}>
          {{bestuurseenheid.naam}}
        </span>
      </span>
    </h1>
  </div>
</div>

<div class="u-padding--rl--small u-spacer--tb">
  <div class="container-flex--scroll">
    {{#functionaris-table
      class="container-flex--contain"
      content=filteredModel
      sort=sort
      data-test-loket="leidinggevendenbeheer-table"
    }}
      <tbody>
        <tr>
          <td class="u-align-center u-padding--round--small" colspan="6">
            <p class="u-spacer--tiny">Geen functionaris gevonden.</p>
          </td>
        </tr>
      </tbody>
    {{/functionaris-table}}
  </div>
</div>
{{outlet}}
